
/* index.css */

.header {
  background-color: RED;
  color: white;
  padding: 20px;
  text-align: center;
  height: 100px; /* Adjust height as needed */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


/* SearchBar.css */

input[type="text"] {
  padding: 10px;
  border: 3px solid #030303;
  border-radius: 5px;
  width: 1320px;
  font-size: 16px;
  background-color: rgb(211, 207, 207);
}


/* styles.css */

.episode-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly with space in between */
}

.episode-row {
  width: calc(50% - 30px); /* Each column takes up 25% of the width minus the margin */
  box-sizing: border-box; /* Include padding and border in width calculation */
  padding: 15px; /* Increase padding for more space */
  margin-bottom: 30px; /* Add more margin between rows */
}

.episode-row img {
  width: 100%; /* Make sure images fill the entire cell */
  height: auto; /* Maintain aspect ratio */
}

.episode-row h3 {
  margin-top:  20; /* Remove default margin for h3 */
}

.episode-row p {
  margin: 30px 0; /* Add more space between paragraphs */
}

/* Add background color to each cell */
.episode-row {
  background-color: #f0f0f0; /* Light gray background */
}




